.container h1 {
    font-size: 4em;
    text-align: center;
}

.card-title {
    font-size: 6em;
    display: flex;
    justify-content: center;
}

.card-text {
    display: flex;
    text-align: center;
}

.btn-primary {
    display: flex;
    justify-content: center;
}

.text-muted {
    display: flex;
    justify-content: center;
}