* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #c9d1d9;
    background: #0d1117
}

nav {
    background: #4B0082;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 80px;
    padding: 10px 20px;
}

nav ul li a {
    color: #c9d1d9;
    font-weight: bold;
}

nav ul li a:hover {
    color: #58a6ff;
    transition: .3s;
}

main {
    width: 950px;
    margin: auto;
}

header {
    padding: 50px;
    font-size: 25px;
    text-align: center;
}

.tips {
    display: flex;
    justify-content: space-between;
}

.tips .tip {
    width: 300px;
    background: rgba(75, 0, 130, 0.3);
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.tips .emoji {
    font-size: 100px;
    text-align: center;
}

.tips .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.tips .subtitle {
    font-size: 15px;
    text-align: center;
}